:root {
  --backgroundColor: #f4f4f7;
  --primaryColor: #8b8ba7;

  /* --secondaryColor: #61ffa0; */

  --secondaryColor: #9980fa;
  
  --height: 50px;
}

* {
  box-sizing: border-box;
}

body {
  overflow-wrap: break-word;
  hyphens: auto;
  padding: 0;
  background: var(--backgroundColor);
  color: var(--primaryColor);
  height: 100vh;
  margin: 0;
}

h1 {
  padding: 1.5rem;
  text-align: center;
}

main {
  height: 100vh;
  width: 100%;
}

#container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  /* --height: 50; */

 
}

.bar {
  background-color: var(--secondaryColor);
  color: var(--secondaryColor);
  margin-left: 0.25rem;
  transition: all 2s ease;


  border: 1px solid var(--secondaryColor);
  height: calc( var(--height) * 10px );
  
}
